# ---------------------
# Node / React / Vite
# ---------------------
node_modules/
dist/
dist-ssr/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
yarn-error.log*
*.log
logs

# Environment
.env
.env.local
.env.*.local
*.md
*.local

# ---------------------
# Editor / OS
# ---------------------
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ---------------------
# Python
# ---------------------
**/__init__.py
**/__pycache__/

# ---------------------
# Base de datos / otros
# ---------------------
*.db